/* Boilerplate styles */

    * {
        font-family: "Poppins", sasns-serif;
        font-size: 16px;
    }

    body {
        overflow-x: hidden;
    }

/* Accessibility */

    .sr-only {
        border: 0;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; 
    } 

/* Header styles */

    /* Main heading styling */
    .page-heading {
        font-family: "PT Serif", serif;
        font-size: 2.25rem;
        font-weight: 700;
        margin-right: 7.5vw;
        /* margin-left: 7.5vw; */
    }

    /* Main description heading styling */
    .page-description-heading {
        font-size: 1.125rem;
        font-weight: 600;
    }

    /* Description styling */
    .page-description {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 27px;
        width: 440px;
    }

    /* Positioning the heading and description */
    .heading-and-description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 10vh auto 8.88vh auto;
    }

    /* Positioning the description and heading description div */
    .page-description-div {
        margin-left: 6.5vw;
        /* margin-right: 7.5vw; */
    }

/* Styling Each Image*/

    /* Rotating the job titles */
    .job-titles { 
        display: block;
        position: relative;
        top: -340px;
        right: -250px;
        background: none;
        transform-origin: 0 0;
        transform: rotate(90deg); 
        font-family: "PT Serif", serif;
        font-weight: 400;
        /*-- change this later --*/
        /* display: none; */
    }

    /* Sizing the images */
    .team-member {
        position: relative;
        top: 0;
        left: 0;
        height: 31.5vh;
        aspect-ratio: 0.69;
        margin: 0;
    }

    /* Sizing the div of an image */
    .team-member-div {
        width: 12.84vw;
        height: 35.4vh;
        max-width: 250px;
        max-height: 350px;
        min-width: fit-content;
        /* margin: 10px; */
    }

    /* Name of team member */
    .name {
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        font-weight: 600;
    }

/* Creating the grid */
    /* Grid Container Styling */
    .grid-container {
        display: inline-grid;
        margin: auto 22%;
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2vw;
        width: 65vw;
    }

    /* Grid Item 2 */
    .grid-item-2 {
        margin-top: 8vh;
    }

    /* Grid Item 3 */
    .grid-item-5 {
        margin-top: 10vh;
    }

/* Styling the footer */
    footer {
        text-align: center;
    }

    .credit, #username {
        color: #a9a9a9
    }

/* Mobile Screen Styling */

    @media only screen and (max-width: 1300px) {
        
        body {
            overflow: scroll;
        }

        /* Styling the header */
        .heading-and-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 3.2vw;
        }

        /* Styling the description */
        .page-description-div {
            margin: 3vh 0;
        }

        /* Styling the header */
        .page-heading {
            margin: 0;
        }

        /* Changing the settings of the grid container */
        .grid-container {
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        }

        /* Fixing the Job Titles */
        .job-titles {
            font-size: 0.8125rem;
        }

        /* Fixing the individual margins */
        .grid-item-1, .grid-item-3, .grid-item-5 {
            margin: 15px 10px;
        }

        .grid-item-2, .grid-item-4, .grid-item-6 {
            margin: 50px 10px;
        }

    }

    @media only screen and (max-width: 800px) {

        /* Fixing the grid settings */
        .grid-container {
            display: grid;
            grid-template: repeat(6, 1fr) / 1fr;
        }

        /* Fixing the individual item's margins */
        .grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6 {
            margin: 15px 0;
        }
        
    }

    @media only screen and (max-width: 1500px) {
        /* Fixing column gap */
        .grid-container {
            display: grid;
            column-gap: 5vw;
        }
    }